---
BasedOnStyle: Google
AccessModifierOffset: '-2'
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'false'
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AllowAllConstructorInitializersOnNextLine: 'true'
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeColon
...
